body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: "Source Code Pro", monospace;
}

.container {
    border: 1px solid #333;
    width: fit-content;
    min-width: 300px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

input {
    background-color: #121212;
    color: #FFFFFF;
    border: 1px solid #009862;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

button {
    background-color: #009862;
    color: #FFFFFF;
    border: 1px solid #009862;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

a {
    color: #009862;
    width: fit-content;
    transition: 0.2s;
}

a:hover {
    color: #00ff00;
}

a {
    text-decoration: none;
}