a {
    text-decoration: none;
}

.new {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #009862;
    width: fit-content;
    transition: 0.2s;
}

a:hover {
    color: #00ff00;
}

.new i {
    width: fit-content;
    color: inherit;
    /* margin-left: 5px; */
}

h2 {
    width: fit-content;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}