h2 {
    margin: 0;
}

/* .grid {} */

textarea {
    width: 100%;
    height: 100px;
    resize: none;
    background-color: #333;
    border-color: #009862;
    color: #FFFFFF;
    /* white-space: nowrap; */
    text-wrap: soft;
}

.shares {
    /* make a grid that has 4 columns elements filled from top horizontally*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 10px;

}

.shares-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    padding: 5px;
}