h2 {
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-gap: 25px;
}

textarea {
    width: 100%;
    height: 100px;
    resize: none;
    background-color: #333;
    border-color: #009862;
    color: #FFFFFF;
    /* white-space: nowrap; */
    text-wrap: soft;
}