<!DOCTYPE html>

<head>
    <title>Vote</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/2b5d740196.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <h1> Elections </h1>
        <h2> Pick an election to vote in </h2>
        <ul>
            {% for election in allowed_elections %}
            <li>
                {% if election.status == 'active' %}
                <strong>{{ election.name }}</strong> - {{ election.status }}
                <a href="/vote/{{ election.id }}">Vote</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <h2> Past voted for </h2>
        <ul>
            {% for election in voted_elections %}
            <li>
                <strong>{{ election.name }}</strong> - {{ election.status }}
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>